<%
  # encoding: utf-8
  #
  # Redmine plugin for Document Management System "Features"
  #
  # Copyright © 2011    Vít Jonáš <vit.jonas@gmail.com>
  # Copyright © 2012    Daniel Munn <dan.munn@munnster.co.uk>
  # Copyright © 2011-22 Karel Pičman <karel.picman@kontron.com>
  #
  # This program is free software; you can redistribute it and/or
  # modify it under the terms of the GNU General Public License
  # as published by the Free Software Foundation; either version 2
  # of the License, or (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
%>

<div class="box tabular dmfs-box-tabular">
  <%= hidden_field_tag "commited_files[#{i}][disk_filename]", upload.disk_filename %>
  <%= hidden_field_tag "commited_files[#{i}][tempfile_path]", upload.tempfile_path %>
  <%= hidden_field_tag "commited_files[#{i}][size]", upload.size %>
  <%= hidden_field_tag "commited_files[#{i}][mime_type]", upload.mime_type %>
  <%= hidden_field_tag "commited_files[#{i}][digest]", upload.digest %>
  <div class="splitcontent">
    <div class="splitcontentleft">
      <p>
        <%= label_tag "commited_files[#{i}][title]", l(:label_title) %>
        <%= text_field_tag "commited_files[#{i}][title]", upload.title, required:true %>
      </p>
    </div>
    <div class="splitcontentright">
      <p>
        <%= label_tag '', l(:label_filename) %>
        <%= text_field_tag :name, h(upload.name), readonly: true %>
        <%= hidden_field_tag "commited_files[#{i}][name]", upload.name %>
      </p>
    </div>
  </div>
  <p>
    <%= label_tag "commited_files[#{i}][description]", l(:label_description) %>
    <%= text_area_tag "commited_files[#{i}][description]", upload.description, rows: 6,
                      class: 'wiki-edit dmsf-description' %>
  </p>
  <div class="splitcontent">
    <div class="splitcontentleft">
      <p>
        <%= render partial: 'dmsf_files/version_selector', locals: {
            label_tag_name: "commited_files[#{i}][version]",
            select_tag_name_patch: "commited_files[#{i}][version_patch]",
            select_tag_name_minor: "commited_files[#{i}][version_minor]",
            select_tag_name_major: "commited_files[#{i}][version_major]",
            revision_or_upload: upload } %>
      </p>
      <p>
        <%= label_tag '', l(:label_mime) %>
        <%= text_field_tag :name, h(upload.mime_type), readonly: true %>
      </p>
      <p>
        <%= label_tag '', l(:label_size) %>
        <%= text_field_tag :name, number_to_human_size(upload.size), readonly: true %>
      </p>
    </div>
    <div class="splitcontentright">
      <div class="custom_fields">
        <% upload.custom_values.each do |value| %>
          <% value.value = nil if value.custom_field.dmsf_not_inheritable %>
          <p><%= custom_field_tag_with_label "commited_files[#{i}]", value %></p>
        <% end %>
      </div>
    </div>
  </div>
  <p>
    <%= label_tag "commited_files[#{i}][comment]", l(:label_comment) %>
    <%= text_area_tag "commited_files[#{i}][comment]", upload.comment, rows: 2, class: 'wiki-edit dmsf-description' %>
  </p>
</div>

<% if Setting.text_formatting != 'HTML' %>
  <%= wikitoolbar_for "commited_files_#{i}_description" %>
  <%= wikitoolbar_for "commited_files_#{i}_comment" %>
<% end %>
