<%
  # Redmine plugin for Document Management System "Features"
  #
  # Karel PiÄman <karel.picman@kontron.com>
  #
  # This program is free software; you can redistribute it and/or
  # modify it under the terms of the GNU General Public License
  # as published by the Free Software Foundation; either version 2
  # of the License, or (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
%>

<% heads_for_wiki_formatter %>

<%= render partial: '/dmsf/path',
           locals: { folder: @folder, filename: nil, title: l(:label_attachment_new) } %>

<%= render partial: 'dmsf/description' %>

<%= form_tag({ controller: 'dmsf_upload', action: 'upload_files', id: @project, folder_id: @folder },
             { id: 'uploadform', multipart: true }) do %>
  <span class="dmsf-uploader">
    <%= render partial: 'dmsf_upload/form',
               locals: { multiple: true, container: nil, description: true, awf: false } %>
  </span>
  <div class="form-actions">
    <%= submit_tag l(:label_upload), data: { cy: 'button__submit--dmsf-upload--project' }, class: 'button-positive',
                   id: "dmsf-upload-button" %>
    <%= submit_tag l(:label_dmsf_upload_commit), data: { cy: 'button__submit--dmsf-upload-commit--project' },
                   class: 'button-positive' %>
  </div>
<% end %>
