<%
  #Setup internal variables for rendering
  item_url = url_for(:action => 'index', :dmsf_path => item.path.to_s, :id => @project)
  item_locked = item.locked? ? 'locked' : ''
  item_actions = []

  if item.kind_of?(Dmsf::Folder)
    item_category = l('dmsf_lang_folder');
    item_ext = ''
    item_mod = '--'
    item_class = 'dmsf-entity-folder'
  else
    item_category = ''
    item_ext = ''
    item_mod = item.last_modified
    item_class = 'dmsf-entity-file'
  end
%>

<li class="dmsf-entity <%=item_class%> dmsf-entity-<%=item.id%>" data-entity="<%=item.id%>" id="d_e_<%=item.id%>">
  <div class="dmsf-col dmsf-entity-name"><%=link_to item.title, dmsf_index_path(:dmsf_path => item.path.to_s)%></div>
  <div class="dmsf-col dmsf-entity-cat">
    <span class="category"><%=item_category%></span>
    <span class="ext"><%=item_ext%></span>
  </div>
  <div class="dmsf-col dmsf-entity-lock <%= item_locked %>">
    <span><%= item_locked %></span>
  </div>
  <div class="dmsf-col dmsf-entity-size">
    NaN
  </div>
  <div class="dmsf-col dmsf-entity-modified">
    <%= item_mod %>
  </div>
  <div class="dmsf-col dmsf-entity-action">
    <% item_actions.each do |action| %>
        <%=action%>
    <% end %>
  </div>
</li>