<%
# encoding: utf-8
#
# Redmine plugin for Document Management System "Features"
#
# Karel PiÄman <karel.picman@kontron.com>
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
%>

<% folders = DmsfFolder.visible.joins(
  'JOIN dmsf_locks ON dmsf_folders.id = dmsf_locks.entity_id').where(
  ['dmsf_locks.entity_type = ? AND dmsf_locks.user_id = ? AND (dmsf_locks.expires_at IS NULL OR dmsf_locks.expires_at > ?)',
   1, @user&.id, Time.current]) %>
<% files = DmsfFile.visible.joins(
  'JOIN dmsf_locks ON dmsf_files.id = dmsf_locks.entity_id').where(
  ['dmsf_locks.entity_type = ? AND dmsf_locks.user_id = ? AND (dmsf_locks.expires_at IS NULL OR dmsf_locks.expires_at > ?)',
   0, @user&.id, Time.current]) %>
<% easy_extension = defined?(EasyExtensions) %>
<% unless easy_extension %>
  <h3>
    <%= l(:locked_documents)%> (<%= "#{folders.all.size} #{l(:label_number_of_folders).downcase}" %> / <%= "#{files.all.size} #{l(:label_number_of_documents).downcase}" %>)
  </h3>
<% end %>
<% if folders.any? || files.any?%>
  <%= form_tag({}, data: { cm_url: dmsf_context_menu_path }) do %>
    <%= hidden_field_tag 'back_url', my_page_path, id: nil %>
    <table class="list context-menu-container" data-hascontextmenu="true">
      <thead>
        <tr>
          <% unless easy_extension %>
            <th class="checkbox hide-when-print">
              <%= check_box_tag 'check_all', '', false, class: 'toggle-selection',
                                title: "#{l(:button_check_all)}/#{l(:button_uncheck_all)}" %>
            </th>
          <% end %>
          <th><%= l(:field_project) %></th>
          <th><%= l(:label_document) %>/<%= l(:field_folder) %></th>
          <th><%= l(:field_folder) %></th>
          <% unless easy_extension %>
            <th></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% folders.each do |folder| %>
          <tr id="folder-<%= folder.id %>" class="hascontextmenu">
            <% unless easy_extension %>
              <td class="checkbox hide-when-print">
                <%= check_box_tag 'ids[]', "folder-#{folder.id}", false, id: nil %>
              </td>
            <% end %>
            <td class="project">
              <%= link_to_project folder.project %>
            </td>
            <td class="title">
              <%= link_to h(folder.title), dmsf_folder_path(id: folder.project, folder_id: folder),
                class: 'icon icon-folder' %>
             </td>
             <td class="title">
               <% if folder.dmsf_folder %>
                 <%= link_to h(folder.dmsf_folder.title),
                             dmsf_folder_path(id: folder.project, folder_id: folder.dmsf_folder) %>
               <% else %>
                  <%= link_to l(:link_documents), dmsf_folder_path(id: folder.project) %>
               <% end %>
             </td>
            <% unless easy_extension %>
              <td class="buttons">
                <%= link_to_context_menu %>
              </td>
            <% end %>
           </tr>
        <% end %>
        <% files.each do |file| %>
          <tr id="file-<%= file.id %>" class="hascontextmenu">
            <% unless easy_extension %>
              <td class="checkbox hide-when-print">
                <%= check_box_tag 'ids[]', "file-#{file.id}", false, id: nil %>
              </td>
            <% end %>
            <td class="project">
              <%= link_to_project file.project %>
            </td>
            <td class="title">
              <%= link_to h(file.title), dmsf_file_path(id: file),
                class: "icon icon-file #{DmsfHelper.filetype_css(file.name)}" %>
            </td>
             <td class="title">
               <% if file.dmsf_folder %>
                 <%= link_to h(file.dmsf_folder.title), dmsf_folder_path(id: file.project, folder_id: file.dmsf_folder) %>
               <% else %>
                  <%= link_to_if file.project, l(:link_documents), dmsf_folder_path(id: file.project) %>
               <% end %>
             </td>
            <% unless easy_extension %>
              <td class="buttons">
                <%= link_to_context_menu %>
              </td>
            <% end %>
           </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <%= context_menu unless easy_extension %>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
