<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  	User <%= link_to(h(@user), {:only_path => false, :controller => "users", :action => "show", :id => @user }) %>
	actualized DMSF files in project <%= @project.name %>: 
  	<% @files.each do |file| %>
	<p>
		<%= link_to(h(file.dmsf_path_str),
	        	{:only_path => false, :controller => "dmsf_files", :action => "show", :id => file,
				:download => ""}) %> (<%= file.name %>),
		<%= number_to_human_size(file.last_revision.size) %>,
		version: <%= file.last_revision.major_version %>.<%= file.last_revision.minor_version %>,
		<%= "#{file.last_revision.workflow_str}," unless file.last_revision.workflow_str.blank? %>
		<%= link_to("Details",
	        {:only_path => false, :controller => "dmsf_files", :action => "show", :id => file}) %>
		<% unless file.last_revision.comment.blank? %>
			<br /><span style="font-size: 0.9em">&nbsp;&nbsp;&nbsp;&nbsp;<em><%= h(file.last_revision.comment) %></em></span>
		<% end %>
	</p>
	<% end %>
  </body>
</html>