<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  	User <%= link_to(h(@user), {:only_path => false, :controller => "users", :action => "show", :id => @user }) %>
	deleted DMSF files in project <%= @project.name %>:
  	<% @files.each do |file| %>
	<p>
		<%= h(file.dmsf_path_str) %> (<%= file.name %>),
		<%= number_to_human_size(file.last_revision.size) %>,
		version: <%= file.last_revision.major_version %>.<%= file.last_revision.minor_version %>
	</p>
	<% end %>
  </body>
</html>