<%# Redmine plugin for Document Management System "Features"
#
# Copyright (C) 2011    Vít Jonáš <vit.jonas@gmail.com>
# Copyright (C) 2012    Daniel Munn <dan.munn@munnster.co.uk>
# Copyright (C) 2011-15 Karel Pičman <karel.picman@kontron.com>
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.%>

<% member = @project.members.where(:user_id => User.current.id).first %>
<% if member %>
  <% mail_notification = member.dmsf_mail_notification %>
  <% title_format = member.title_format %>
<% end %>

<%= form_tag(dmsf_user_pref_save_path(@project)) do %>
  <fieldset class="box tabular">
    <legend><%=  l(:link_user_preferences) %></legend>
    <p>
      <%= content_tag(:label, "#{l(:label_notifications)}:") %>      
      <%= select_tag(
        'email_notify', 
        options_for_select([[l(:select_option_default), nil], 
        [l(:select_option_activated), true], [l(:select_option_deactivated), false]], 
        :selected => mail_notification)) %>      
    </p>
    <p>
      <%= content_tag(:label, "#{l(:label_title_format)}:") %>
      <%= text_field_tag 'title_format', title_format, :size => 10 %>
      <em class="info"><%= l(:text_title_format) %></em>
    </p>
  </fieldset>
  <%= submit_tag(l(:submit_save), :title => l(:title_save_preferences)) %>
<% end %>