<%
  # Redmine plugin for Document Management System "Features"
  #
  # Karel PiÄman <karel.picman@kontron.com>
  #
  # This file is part of Redmine DMSF plugin.
  #
  # Redmine DMSF plugin is free software: you can redistribute it and/or modify it under the terms of the GNU General
  # Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any
  # later version.
  #
  # Redmine DMSF plugin is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even
  # the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
  # more details.
  #
  # You should have received a copy of the GNU General Public License along with Redmine DMSF plugin. If not, see
  # <https://www.gnu.org/licenses/>.
%>

<p>
  <%= l(:text_dmsf_webdav_digest_reset) %>
</p>
<%= form_tag(dmsf_reset_digest_path) do %>
  <label for="password">
    <%= l(:field_password) %>
  </label>
  <%= password_field_tag 'password', nil, autofocus: true %>
  <input type="submit" name="reset" value="<%= l(:button_reset) %>" onclick="hideModal(this);">
<% end %>
