<%
# encoding: utf-8
#
# Redmine plugin for Document Management System "Features"
#
# Copyright (C) 2011-17 Karel PiÄman <karel.picman@kontron.com>
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
%>

<td class="dmsf_checkbox"><%= check_box_tag(name, id, false, 
  :title => l(:title_check_for_restore_or_delete), :id => "subfolder_#{id}") %></td>
<% if DmsfFolder.is_column_on?('id') %>
    <td class="id"><%= link_to(subfolder.id, edit_dmsf_path(:id => project, :folder_id => subfolder)) %></td>
<% end %>
<% if DmsfFolder.is_column_on?('title') %>
  <td class="dmsf_title">
    <%= content_tag(:span, h(title),
      :title => subfolder ? h(subfolder.description) : nil,
      :class => 'icon icon-folder') %>
    <% if link %>
      <div class="dmsf_filename" title="<%= l(:label_target_folder)%>"><%= link.path %></div>
    <% else %>
      <div class="dmsf_filename" title="<%= l(:title_items)%>">[<%= subfolder.items %>]</div>
    <% end %>
  </td>
<% end %>
<% if DmsfFolder.is_column_on?('extension') %>
    <td class="dmsf_extension"></td>
<% end %>
<% if DmsfFolder.is_column_on?('size') %>
  <td class="dmsf_size"></td>
<% end %>
<% if DmsfFolder.is_column_on?('modified') %>
  <td class="dmsf_modified">
    <%= format_time(subfolder.modified) if subfolder %>
  </td>
<% end %>
<% if DmsfFolder.is_column_on?('version') %>
  <td class="dmsf_version"></td>
<% end %>
<% if DmsfFolder.is_column_on?('workflow') %>
  <td class="dmsf_workflow"></td>
<% end %>
<% if DmsfFolder.is_column_on?('author') %>
  <td class="dmsf_author"><%= h(subfolder.user) if subfolder %></td>
<% end %>
<% cfs = CustomField.where(:type => 'DmsfFileRevisionCustomField').order(:position) %>
<% cfs.each do |c| %>
    <% if DmsfFolder.is_column_on?(c.name) %>
        <td class="dmsf_cf">
          <%= subfolder.custom_value(c) if subfolder %>
        </td>
    <% end %>
<% end %>
<td class="dmsf_buttons">
  <% if @folder_manipulation_allowed %>
    <% if link %>
      <%= link_to(image_tag('restore.png', :plugin => 'redmine_dmsf'),
        restore_dmsf_link_path(:id => link),
        :title => l(:title_restore)) %>
      <%= link_to(image_tag('rev_delete.png', :plugin => 'redmine_dmsf'),
        dmsf_link_path(:id => link, :commit => 'yes'),
        :data => {:confirm => l(:text_are_you_sure)},
        :method => :delete,
        :title => l(:title_delete)) %>
    <% else # folder %>
      <%= link_to(image_tag('restore.png', :plugin => 'redmine_dmsf'),
        restore_dmsf_path(:id => project, :folder_id => subfolder),
        :title => l(:title_restore)) %>
      <%= link_to(image_tag('rev_delete.png', :plugin => 'redmine_dmsf'),
        delete_dmsf_path(:id => project, :folder_id => subfolder, :commit => 'yes'),
        :data => {:confirm => l(:text_are_you_sure)},
        :title => l(:title_delete)) %>
    <% end %>
  <% end %>
</td>
<td class="dmsf_invisible">0</td>
<td class="dmsf_invisible">0</td>
<td class="dmsf_invisible"><%= subfolder.modified.to_i if subfolder %></td>
<td class="dmsf_invisible">0</td>
