<%
# encoding: utf-8
#
# Redmine plugin for Document Management System "Features"
#
# Copyright (C) 2011-17 Karel PiÄman <karel.picman@kontron.com>
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
%>

<td class="dmsf_checkbox">
  <% unless (subfolder && subfolder.system) %>
    <%= check_box_tag(name, id, false, :title => l(:title_check_for_zip_download_or_email), :id => "subfolder_#{id}") %>
  <% end %>
</td>
<% if DmsfFolder.is_column_on?('id') %>
    <td class="id">
      <% if subfolder %>
          <% if subfolder.system %>
            <%= subfolder.id %>
          <% else %>
            <%= link_to(subfolder.id, edit_dmsf_path(:id => project, :folder_id => subfolder)) %>
          <% end %>
      <% else %>
        <%= link_to(link.target_project_id, project_path(link.target_project)) %>
      <% end %>
    </td>
<% end %>
<% if DmsfFolder.is_column_on?('title') %>
  <td class="dmsf_title">
    <% if @tree_view %>
      <span class='dmsf_expander' <%= onclick.html_safe %>></span>
    <% end %>
    <%= link_to(h(title),
      dmsf_folder_path(:id => project, :folder_id => subfolder),
      :class => 'icon icon-folder',
      :title => subfolder ? h(subfolder.description) : nil) %>
    <% if link %>
      <div class="dmsf_filename" title="<%= l(:label_target_folder)%>"><%= link.path %></div>
    <% else %>
      <div class="dmsf_filename" title="<%= l(:title_items)%>">[<%= subfolder.items %>]</div>
    <% end %>
  </td>
<% end %>
<% if DmsfFolder.is_column_on?('extension') %>
    <td class="dmsf_extension"></td>
<% end %>
<% if DmsfFolder.is_column_on?('size') %>
  <td class="dmsf_size"></td>
<% end %>
<% if DmsfFolder.is_column_on?('modified') %>
  <td class="dmsf_modified"><%= format_time(subfolder.modified) if subfolder %></td>
<% end %>
<% if DmsfFolder.is_column_on?('version') %>
  <td class="dmsf_version"></td>
<% end %>
<% if DmsfFolder.is_column_on?('workflow') %>
  <td class="dmsf_workflow"></td>
<% end %>
<% if DmsfFolder.is_column_on?('author') %>
  <td class="dmsf_author"><%= h(subfolder.user) if subfolder %></td>
<% end %>
<% cfs = CustomField.where(:type => 'DmsfFileRevisionCustomField').order(:position) %>
<% cfs.each do |c| %>
    <% if DmsfFolder.is_column_on?(c.name) %>
        <td class="dmsf_cf">
          <%= subfolder.custom_value(c) if subfolder %>
        </td>
    <% end %>
<% end %>
<td class="dmsf_buttons">
  <% if @folder_manipulation_allowed && !(subfolder && subfolder.system) %>
    <% if subfolder && subfolder.locked? %>
      <span class="icon-only"></span>
      <% if subfolder.unlockable? && (!subfolder.locked_for_user? || @force_file_unlock_allowed) %>
        <%= link_to('', unlock_dmsf_path(:id => project, :folder_id => subfolder),
          :title => subfolder.get_locked_title,
          :class => 'icon-only icon-unlock') %>
      <% else %>
        <span class="icon-only icon-unlock" title="<%= subfolder.get_locked_title %>"></span>
      <% end %>
    <% else %>
      <% if subfolder %>
        <%= link_to('', edit_dmsf_path(:id => project, :folder_id => subfolder),
          :title => l(:link_edit, :title => h(subfolder.title)),
          :class => 'icon-only icon-edit') %>
      <% else %>
        <%= link_to('', edit_root_dmsf_path(:id => @project),
          :title => l(:link_edit, :title => l(:link_documents)),
          :class => 'icon-only icon-edit') %>
      <% end %>
      <% if subfolder %>
        <%= link_to('', lock_dmsf_path(:id => project, :folder_id => subfolder),
          :title => l(:title_lock_file),
          :class => 'icon-only icon-lock') %>
      <% else %>
        <span class="icon-only"></span>
      <% end %>
      <% if (subfolder && subfolder.notification) || (!subfolder && project.dmsf_notification) %>
        <%= link_to('', notify_deactivate_dmsf_path(:id => project, :folder_id => subfolder),
          :title => l(:title_notifications_active_deactivate),
          :class => 'icon-only icon-email') %>
      <% else %>
        <%= link_to('', notify_activate_dmsf_path(:id => project, :folder_id => subfolder),
          :title => l(:title_notifications_not_active_activate),
          :class => 'icon-only icon-email-add') %>
      <% end %>
      <%= link_to('', link ? dmsf_link_path(link) : delete_dmsf_path(:id => project, :folder_id => subfolder),
        :data => {:confirm => l(:text_are_you_sure)},
        :title => l(:title_delete),
        :method => :delete,
        :class => 'icon-only icon-del') %>
    <% end %>
  <% end %>
</td>
<td id="dmsf_position" class="hol"><%= position %></td>
<td class="hol">0</td>
<td class="hol"><%= subfolder.modified.to_i if subfolder %></td>
<td class="hol">0</td>
