<%#=
# encoding: utf-8
#
# Redmine plugin for Document Management System "Features"
#
# Copyright (C) 2011-15 Karel PiÄman <karel.picman@kontron.com>
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
%>

<td class="check"><%= check_box_tag(name, id, false, 
  :title => l(:title_check_for_restore_or_delete), :id => "file_#{id}") %></td>
<td class="title">  
  <%= content_tag(:span, h(title), 
    :title => h(title), 
    :class => "icon icon-file #{DmsfHelper.filetype_css(file.name)}") %>
  <div class="filename" title="<%= l(:title_filename_for_download)%>"><%= h(link ? link.path : file.display_name) %></div>
</td>
<td class="size"><%= number_to_human_size(file.last_revision.size) %></td>
<td class="modified">
  <%= format_time(file.last_revision.updated_at) %>  
</td>
<td class="version" title="<%= file.last_revision.comment %>"><%= file.last_revision.version %></td>
<td class="workflow">                                    
  <%= file.last_revision.workflow_str(false) %>  
</td>
<td class="author"><%= h(file.last_revision.user) %></td>
<td class="buttons">
  <% if @file_manipulation_allowed %>              
    <%= link_to(image_tag('restore.png', :plugin => 'redmine_dmsf'),
      restore_dmsf_file_path(:id => file),                
      :title => l(:title_restore)) %>
    <%= link_to(image_tag('rev_delete.png', :plugin => 'redmine_dmsf'),
      dmsf_file_path(:id => file, :commit => 'yes'),
      :data => {:confirm => l(:text_are_you_sure)},
      :method => :delete,
      :title => l(:title_delete)) %>               
  <% end %>
</td>
<td class="invisible">1</td>
<td class="invisible"><%= file.last_revision.size %></td>
<td class="invisible"><%= file.last_revision.updated_at.to_i %></td>
<td class="invisible"><%= file.last_revision.iversion %></td>