<%
# encoding: utf-8
#
# Redmine plugin for Document Management System "Features"
#
# Copyright (C) 2011-17 Karel PiÄman <karel.picman@kontron.com>
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
%>

<td class="dmsf_checkbox"></td>
<% if DmsfFolder.is_column_on?('id') %>
  <td class="id"></td>
<% end %>
<% if DmsfFolder.is_column_on?('title') %>
  <td class="dmsf_title">
    <% if @tree_view %>
      <span class='dmsf_expander' <%= onclick.html_safe %>></span>
    <% end %>
    <%= link_to(h(title),
          link.external_url,
          :target => '_blank',
          :class => 'icon icon-link') %>
    <div class="dmsf_filename" title="<%= l(:label_target_folder) %>">
      <%= link.external_url %>
    </div>
    <%= '</span>'.html_safe if @tree_view %>
  </td>
<% end %>
<% if DmsfFolder.is_column_on?('extension') %>
    <td class="dmsf_extension"></td>
<% end %>
<% if DmsfFolder.is_column_on?('size') %>
  <td class="dmsf_size"></td>
<% end %>
<% if DmsfFolder.is_column_on?('modified') %>
  <td class="dmsf_modified"><%= format_time(link.updated_at) %></td>
<% end %>
<% if DmsfFolder.is_column_on?('version') %>
  <td class="dmsf_version"></td>
<% end %>
<% if DmsfFolder.is_column_on?('workflow') %>
  <td class="dmsf_workflow"></td>
<% end %>
<% if DmsfFolder.is_column_on?('author') %>
  <td class="dmsf_author"><%= h(link.user) %></td>
<% end %>
<% cfs = CustomField.where(:type => 'DmsfFileRevisionCustomField').order(:position) %>
<% cfs.each do |c| %>
    <% if DmsfFolder.is_column_on?(c.name) %>
        <td class="dmsf_cf"></td>
    <% end %>
<% end %>
<td class="dmsf_buttons">
  <span class="icon"></span>
  <span class="icon"></span>
  <span class="icon"></span>
  <% if @file_delete_allowed %>
    <%= link_to('',
      dmsf_link_path(link),
      :data => {:confirm => l(:text_are_you_sure)},
      :method => :delete,
      :title => l(:title_delete),
        :class => "icon icon-del") %>
  <% else %>
    <span class="icon"></span>
  <% end %>
</td>
<td class="hol"><%= position %> </td>
<td class="hol"></td>
<td class="hol">link.updated_at.to_i</td>
<td class="hol"></td>
