<%# Redmine plugin for Document Management System "Features"
#
# Copyright (C) 2011   Vít Jonáš <vit.jonas@gmail.com>
# Copyright (C) 2012   Daniel Munn  <dan.munn@munnster.co.uk>
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.%>

<% html_title(l(:dmsf)) %>

<div class="contextual">
  <% if User.current.allowed_to?(:folder_manipulation, @project) %>    
    <% if @project.dmsf_notification %>        
      <%= link_to(l(:label_notifications_off), 
        notify_deactivate_dmsf_path(:id => @project),
        :title => l(:title_notifications_active_deactivate), 
        :class => 'icon icon-notification-on') %>
    <% else %>        
      <%= link_to(l(:label_notifications_on),
        notify_activate_dmsf_path(:id => @project),
        :title => l(:title_notifications_active_deactivate), 
        :class => 'icon icon-notification-off') %>
    <% end %>  
  <% end %>
</div>

<%= render(:partial => 'path', :locals => {:folder => nil, :filename => nil}) %>  

<%= form_for(@project, :url => {:action => 'save_root', :id => @project},
  :html => {:method=>:post}) do |f| %>
  <div class="box dmsf_detail">
    <p class="no-ident">
      <%= label_tag('project_dmsf_description', "#{l(:label_description)}:") %>
    </p>
    <div class="wiki data clear">
      <%= f.text_area(:dmsf_description, :rows => 15, :class => 'wiki-edit') %>
    </div>
  </div>
  <%= submit_tag(l(:submit_save)) %>
<% end %>

<%= wikitoolbar_for 'project_dmsf_description' %>