<%# Redmine plugin for Document Management System "Features"
#
# Copyright (C) 2011   Vít Jonáš <vit.jonas@gmail.com>
# Copyright (C) 2012   Daniel Munn  <dan.munn@munnster.co.uk>
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.%>

<% html_title(l(:dmsf)) %>

<div class="contextual">
  <%= link_to(image_tag('copy.png'), 
    {:controller => :dmsf_folders_copy, :action => 'new', :id => @folder }, 
    :title => l(:title_copy)) if @folder.id %>
</div>

<% create = @pathfolder == @parent %>
<%= render(:partial => 'path', :locals => {:folder => @pathfolder, :filename => create ? l(:heading_new_folder) : nil}) %>  

<%= form_for(@folder, :url => {:action => create ? 'create' : 'save', :id => @project, :folder_id => @folder, :parent_id => @parent},
  :html => {:method=>:post}) do |f| %>
  <%= error_messages_for(@folder) %>
  <div class="box dmsf_detail">
    <div class="clear">
      <div class="splitcontentleft">
        <p>
          <%= label_tag('dmsf_folder_title', "#{l(:label_title)}:") %>
          <%= f.text_field(:title, :size => '32', :required => true) %>
        </p>
      </div>
      <div class="splitcontentright">
        <p>
          <%= label_tag('', "#{l(:field_folder)}:") %>
          <%= f.select(:dmsf_folder_id, 
            options_for_select(DmsfFolder.directory_tree(@project, @folder), 	
            :selected => @parent? @parent.id : (@pathfolder.id if @pathfolder)))                                                  
          %>				
        </p>
      </div>
    </div>
    <p class="no-ident">
      <%= label_tag('dmsf_folder_description', "#{l(:label_description)}:") %>
    </p>
    <div class="wiki data clear">
      <%= f.text_area(:description, :rows => 15, :class => 'wiki-edit') %>
    </div>
    <% values = @folder ? @folder.custom_field_values : @parent ? @parent.custom_field_values : DmsfFolder.new(:project => @project).custom_field_values %>
    <% values.each do |value| %>
      <p><%= custom_field_tag_with_label(:dmsf_folder, value) %></p>
    <% end %>
  </div>
  <%= submit_tag(create ? l(:submit_create) : l(:submit_save)) %>
<% end %>

<%= wikitoolbar_for 'dmsf_folder_description' %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'dmsf', :plugin => 'redmine_dmsf' %>
<% end %>
