<div class="box dmsf_detail dmsf_revision">
	<strong>Create New Revision <a href="#" id="newRevisionFormContentToggle">[-]</a></strong>
		<div id="newRevisionFormContent">
			<% if @file.locked_for_user? %>
				<p class="warning"><%= l(:info_file_locked) %></p>
			<% else %>
<%
disabled_workflow = []
selected_workflow = nil
if !User.current.allowed_to?(:file_approval, @project)
	disabled_workflow << 2
	current_workflow = @file.last_revision.workflow
	if current_workflow == 1 || current_workflow == 2
		disabled_workflow << nil
		selected_workflow = 1
	end
else
	selected_workflow = @file.last_revision.workflow
end

form_for(:dmsf_file_revision, @revision, :url => {:action => "save_file", :id => @project, :file_id => @file},
	:html => {:method=>:post, :multipart => true}) do |f|
%>
				<div class="clear">
					<div class="splitcontentleft">
						<p>
							<%= label_tag("dmsf_file_revision_title", "Title:") %>
							<%= f.text_field(:title, :size => "32") %>
						</p>
					</div>
					<div class="splitcontentright">
						<p>
							<%= label_tag("", "Filename:") %>
							<%= h(@revision.name) %>
						</p>
					</div>
				</div>
				<p class="no-ident">
					<%= label_tag("dmsf_file_revision_description", "Description:") %>
				</p>
				<div class="wiki clear" style="margin-left: 110px">
					<%= f.text_area(:description, :rows=> "6", :class => "wiki-edit") %>
				</div>
				<div class="splitcontentleft">
					<p>
						<%= label_tag("fileMinorVersionRadio", "Version:") %>
					</p>
					<div class="wiki clear" style="margin-left: 110px">
						<%= radio_button_tag("dmsf_file_revision[version]", "same", @revision.version == @file.last_revision.version, :id => "fileSameVersionRadio") %>
						<%= @file.last_revision.major_version %>.<%= @file.last_revision.minor_version %> Same<br /> 
						<%= radio_button_tag("dmsf_file_revision[version]", "minor", 
								@revision.major_version == @file.last_revision.major_version && @revision.minor_version != @file.last_revision.minor_version,
								:id => "fileMinorVersionRadio") %> 
						<%= @file.last_revision.major_version %>.<%= @file.last_revision.minor_version + 1 %> Minor<br />
						<%= radio_button_tag("dmsf_file_revision[version]", "major", @revision.major_version != @file.last_revision.major_version) %> 
						<%= @file.last_revision.major_version + 1 %>.0 Major<br />
					</div>
					<p>
						<%= label_tag("dmsf_file_revision_workflow", "Workflow:") %>
						<%= f.select(:workflow, 
								options_for_select([["None", nil], ["Waiting for approval", 1], ["Approved", 2]], 
									:selected => selected_workflow, :disabled => disabled_workflow)) %>
					</p>
				</div>
				<div class="splitcontentright clear">
					<p>
						<%= label_tag("fileFileUpload", "New content:") %>
						<%= file_field_tag("dmsf_file_revision[file]", :size => 30, :id => "fileFileUpload") %>
						<br />
						<small>
							(<%= l(:label_max_size) %>: <%= number_to_human_size(Setting.attachment_max_size.to_i.kilobytes) %>)
						</small>
					</p>
				</div>
				<br style="clear: both"/>
				<p>
					<%= label_tag("dmsf_file_revision_comment", "Comment:") %>
					<%= f.text_area(:comment, :rows=> "2", :style => "width: 99%;") %>
				</p>
				<br />
				<%= submit_tag("Create") %>
<% end %>
			<% end %>
		</div>
</div>

<%= wikitoolbar_for "dmsf_file_revision_description" %>
