<div class="box dmsf_upload">
	<%= hidden_field_tag("commited_files[#{i}][disk_filename]", upload.disk_filename) %>
	<fieldset class="tabular">
		<legend><%= h(upload.name) %></legend>
		<p class="warning">File locked!</p>
	    <div class="splitcontentleft">
			<p>
				<%= label_tag("", "Title:") %>
				<%= h(upload.title) %>
			</p>
			<p>
				<%= label_tag("", "Description:") %>
				<%= h(upload.description) %>
			</p>
			<p>
				<%= label_tag("", "Version:") %>
				<%= upload.major_version %>.<%= upload.minor_version %>
			</p>
		</div>
		<div class="splitcontentright">
			<p>
				<%= label_tag("", "Mime:") %>
				<%= h(upload.mime_type) %>
			</p>
			<p>
				<%= label_tag("", "Size:") %>
				<%= number_to_human_size(upload.size) %>
			</p>
		</div>
    </fieldset>
</div>
