<%# Redmine plugin for Document Management System "Features"
#
# Copyright (C) 2011   Vít Jonáš <vit.jonas@gmail.com>
# Copyright (C) 2012   Daniel Munn  <dan.munn@munnster.co.uk>
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.%>


<!--Select2 Files-->
<%= stylesheet_link_tag 'select2.min.css', :plugin => 'redmine_dmsf' %>
<%= javascript_include_tag 'select2.min.js', :plugin => 'redmine_dmsf' %>

<% html_title(l(:dmsf)) %>

<div class="contextual">
</div>

<%= render(:partial => '/dmsf/path', :locals => {:folder => @file.folder, :filename => @file.title}) %>

<% if DmsfFile.allowed_target_projects_on_copy.present? %>
  <%= form_tag({:action => 'create', :id => @file}, :id => 'copyForm') do |f| %>
    <div class="box dmsf_detail">
      <p>
        <label for="target_project_id"><%=l(:field_target_project)%>:</label>
        <%= select_tag('target_project_id',
           project_tree_options_for_select(DmsfFile.allowed_target_projects_on_copy, :selected => @target_project)) %>
      </p>
      <p>
        <%= label_tag('target_folder_id', "#{l(:field_target_folder)}:") %>
        <%= select_tag('target_folder_id',
          options_for_select(DmsfFolder.directory_tree(@target_project),
          :selected => (@target_folder.id if @target_folder))) %>
      </p>
    </div>
    <%= submit_tag(l(:button_copy)) %>
    <% if User.current.allowed_to?(:file_manipulation, @project) %>
      <button type="button" id="move_button" title="<%=  l(:button_move) %>"><%=  l(:button_move) %></button>
    <% end %>
  <% end %>
<% end %>

<script type="text/javascript">
  jQuery('#move_button').click(function(event) {
    jQuery('#copyForm').attr('action', "<%= url_for(:action => 'move', :id => @file) %>");
    jQuery('#copyForm').submit();
  });

  jQuery('#target_project_id').change(function () {
    jQuery('#content').load("<%= url_for(:action => 'new') %>", jQuery('#copyForm').serialize());
    jQuery('#target_folder_id' ).select2({ width: "600px" });
  });

  jQuery('#target_project_id' ).select2({ width: "600px" });
  jQuery('#target_folder_id' ).select2({ width: "600px" });
</script>