<%
  # Redmine plugin for Document Management System "Features"
  #
  # Karel PiÄman <karel.picman@kontron.com>
  #
  # This program is free software; you can redistribute it and/or
  # modify it under the terms of the GNU General Public License
  # as published by the Free Software Foundation; either version 2
  # of the License, or (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
%>

<h3 class="title"><%= l(:label_dmsf_permissions) %></h3>
<%= form_tag(append_dmsf_folder_permissions_path, remote: true, method: :post, id: 'new-user-form') do %>
  <%= hidden_field_tag :project_id, @project.id %>
  <p><%= label_tag 'user_search', l(:label_user_search) %><%= text_field_tag 'user_search', nil %></p>
  <%= late_javascript_tag "observeSearchfield('user_search', 'users_for_users', '#{ escape_javascript url_for(
    controller: 'dmsf_folder_permissions', action: 'autocomplete_for_user', project_id: @project,
    dmsf_folder_id: @dmsf_folder) }')" %>
  <div id="users_for_watcher">
    <%= render_principals_for_new_folder_permissions @principals %>
  </div>
  <div class="form-actions">
    <%= submit_tag l(:button_add), onclick: 'hideModal(this);', class: 'button-positive' %>
    <%= link_to_function l(:button_cancel), "hideModal(this);" %>
  </div>
<% end %>
