<%
  # encoding: utf-8
  #
  # Redmine plugin for Document Management System "Features"
  #
  # Copyright (C) 2011-17 Karel PiÄman <karel.picman@kontron.com>
  #
  # This program is free software; you can redistribute it and/or
  # modify it under the terms of the GNU General Public License
  # as published by the Free Software Foundation; either version 2
  # of the License, or (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
%>

<hr/>
<div class="attachments">
<% for dmsf_file in dmsf_files %>
<p>
  <% file_view_url = url_for({:controller => :dmsf_files, :action => 'view', :id => dmsf_file}) %>
  <%= link_to(h(dmsf_file.title),
              file_view_url,
              :target => '_blank',
              :class => "icon icon-file #{DmsfHelper.filetype_css(dmsf_file.name)}",
              :title => h(dmsf_file.last_revision.try(:tooltip)),
              'data-downloadurl' => "#{dmsf_file.last_revision.detect_content_type}:#{h(dmsf_file.name)}:#{file_view_url}") %>
  <%= " - #{dmsf_file.description}" unless dmsf_file.description.blank? %>
  <span class="size">(<%= number_to_human_size dmsf_file.last_revision.size %>)</span>
  <%= link_to(image_tag('delete.png'),
              dmsf_file_path(:id => dmsf_file),
              :data => {:confirm => l(:text_are_you_sure)},
              :method => :delete,
              :title => l(:title_delete)) %>
  <span class="author"><%= dmsf_file.last_revision.user %>, <%= format_time(dmsf_file.last_revision.updated_at) %></span>
  </p>
<% end %>
</div>
